.idea
*.iml
/kfs-db/db-impex/impex/build/
/kfs-db/db-impex/impex/*.cfg
/kfs-db/db-impex/impex/velocity.log
/kfs-db/db-impex/impex/workspace.prm
/kfs-db/db-impex/impex/impex.iml
/kfs-db/db-impex/clover/clover.iml
/build/temp
/build/drivers